[Desktop Entry]
Type=Application
Name=NotePied
Comment=A modern note-taking application
Exec=NotePied
Icon=notepied
Categories=Utility;
Terminal=false
StartupNotify=true
